body {
    background-image: url("background-image.jpg");
}

header {
    font-size: 80px;
    font-weight: bold;
    font-family: Jazz LET, fantasy;
    color: gold;
    text-align: center;
}

#game-background {
    background-color: gold;
    padding-bottom: 200px;
    margin-right: 150px;
    margin-left: 150px;
}

#start-button {
    margin-left: 400px;
    margin-top: 200px;
    padding: 50px;
    font-size: 30px;
}

#timer {
    font-size: 80px;
    color: gold;
    font-weight: bold;
    text-align: center;
}